.cartButton{
    float:right;
    bottom:50;
    left:50;
    margin-top:20px;
    margin-right:30px;
    padding:10px;
}

.cartButton:hover{
    background-color: brown;
}

/*from https://medium.com/@MartinBing/css-how-to-create-the-perfect-badge-4b5239f10a8a?*/
.badge {
    float:right;
    padding: 8.75px 12.5px; /* pixel unit */
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    background: rgb(211, 75, 75);
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    
}

.cart_bounce{
animation: bounce .3s;
}
@keyframes bounce {
    0% { transform: scaleY(1.0) scaleX(1.0); }
    50% { transform: scaleY(1.2) scaleX(1.2); }
    100% { transform: scaleY(1.0) scaleX(1.0); }
}