.cartList{
    background-color: white;
    border-radius: 15px;
    margin:auto;
    height:420px;
    max-height: 100%;
    width:500px;
    max-width: 100%;
    padding: 20px;
    border-top:20px;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total{
    text-align: center;
    color: rgb(95, 3, 3);
}
.cart_items{
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    color:rgb(241, 200, 94);
    margin-bottom: 5px;
    
}
.backDrop{
    position:fixed;
    background-color: rgb(0, 0, 0, .5);
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
}

.separate_buttons{
    display: flex;
    justify-content: space-evenly;
}

.cart_item_form{
    
    margin:auto;
}

.cart_item_buttons{
    margin: 2px;
    padding: 2.5px;
}