.mainOverlay{
    padding-bottom:50px;
    border-radius: 5px;
    box-shadow: 0, 2px, 8px, rgb(0, 0, .26);
    background: darkslategray;
    text-align: center;
    margin-top: 85px;
    
}

.centerText{
    width: 500px;
    color: white;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    line-height: 25px;
    padding: 5px;
}

img{
    margin:10px 10px;
    border-radius:5px;
    height:250px;
    width:500px;
}
