.mainOverlay{
    padding-bottom:50px;
    border-radius: 5px;
    box-shadow: 0, 2px, 8px, rgb(0, 0, .26);
    background: darkslategray;
    text-align: center;
    margin-top: 85px;
    display: table;
}

.centerText{
    width: 500px;
    color: white;
    border-left: 500px;
    text-align: center;
}

img{
    margin:10px 10px;
    border-radius:5px;
    height:250px;
    width:500px;
}
