.meal{
    padding-left: 30px;
    padding-top: 5x;
    border: 1px dotted rgb(32, 36, 41);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: 10px;
    color: goldenrod;
    justify-content: space-between;
}

.meal h2{
    display: flex;
}

.meal h4{
    font-style: italic;
}

.userInteractItems{
    float:right;
    height:100px;
    width:150px;
    background-color: azure;
    border:2px solid black;
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

#userId{
    background-color: white;
    color:black;
    width: 50px;
}

.addButton{
    padding: 4px 10.5px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: rgb(211, 75, 75);
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: background-color .6s ease;
    overflow: hidden;
}
